<nav class="nav container row">
    <div class="title">
        <h2>MsgPlus</h2>
        <p>A messaging app</p>
    </div>
  <ul class="nav__list row">
    <li class="nav__item">
      <a class="nav__link" href="/">Home</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/new">New</a>
    </li>
  </ul>
</nav>
