<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title}) %>

  <body>
    <%- include('partials/nav') %>
    <section class="container">
        <h1>Oops! Page not Found!</h1>
     
    </section>

    <%- include('partials/footer') %>
  </body>
</html>
