*{
     padding: 0;
    margin: 0;
}

body {  
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}


ul {
    list-style: none;
}

footer{
   
}

h1{
    font-size: 1.125em;
}
.container {
    max-width: 1080px;
    padding: 2em 3em;
    margin-inline: auto;
}

section.container{
    height: 75vh;

}

.row{
    display: flex;
    gap: 1em;
}

.nav{
    justify-content: space-between;
}

.nav a{
    font-size: 1.125rem ;
    text-transform: uppercase;

    &:hover{
        color: blue;
    }
}

.nav p{
    opacity: .5;
}

.messages a{
    opacity: .5;

    &:hover{
        text-decoration: underline;
        color: blue;
    }
}



.messages span{
    display: inline-flex;
    margin:.25em 0;
}

form{
    max-width: 400px;
    margin-inline: auto;
      display: grid;
    gap: 1em
}

form span{
    font-size: 1.5em;
}
.form-group{
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    font-size: 1.25em;
}
.f-groups{
    display: grid;
    gap: 0.5em
}
input{
    font-size: 1em;
    padding: .25em;
}
button{
    padding: 1em ;
}
